## Settings file was created by plugin Better Continents v0.7.13
## Plugin GUID: BetterContinents

[00 BetterContinents.Global]

## Whether this mod is enabled
# Setting type: Boolean
# Default value: true
Enabled = true

## Continent size
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Continent Size = 0.5

## Modify sea level, which changes the land:sea ratio
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Sea Level Adjustment = 0.4413145

## Whether ocean channels should be enabled or not (useful to disable when using height map for instance)
# Setting type: Boolean
# Default value: true
Ocean Channels = false

## Whether rivers should be enabled or not
# Setting type: Boolean
# Default value: true
Rivers = false

## Whether the map should drop off at the edges or not (consequences unknown!)
# Setting type: Boolean
# Default value: true
Map Edge Drop-off = false

## Whether the map should allow mountains to occur at the map center (if you have default spawn then you should keep this unchecked)
# Setting type: Boolean
# Default value: false
Mountains Allowed At Center = true

[01 BetterContinents.Project]

## This directory will load automatically any existing map files matching the correct names, overriding specific files specified below. Filenames must match: heightmap.png, biomemap.png, locationmap.png, roughmap.png, forestmap.png.
# Setting type: String
# Default value: 
Directory = 

[02 BetterContinents.Heightmap]

## Path to a heightmap file to use. See the description on Nexusmods.com for the specifications (it will fail if they are not met)
# Setting type: String
# Default value: 
Heightmap File = C:\Users\Vanaheymr\Desktop\Valh\Serv\bc2\HM.png

## Multiplier of the height value from the heightmap file (more than 1 leads to higher max height than vanilla, good results are not guaranteed)
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 5
Heightmap Amount = 1

## How strongly to blend the heightmap file into the final result
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Heightmap Blend = 1

## How strongly to add the heightmap file to the final result (usually you want to blend it instead)
# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
Heightmap Add = 0

## How strongly to apply the heightmap as a mask on normal height generation (i.e. it limits maximum height to the height of the mask)
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Heightmap Mask = 0

## All other aspects of the height calculation will be disabled, so the world will perfectly conform to your heightmap
# Setting type: Boolean
# Default value: true
Heightmap Override All = false

[03 BetterContinents.Roughmap]

## Path to a roughmap file to use. See the description on Nexusmods.com for the specifications (it will fail if they are not met)
# Setting type: String
# Default value: 
Roughmap File = 

## How strongly to apply the roughmap file
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Roughmap Blend = 1

[04 BetterContinents.Biomemap]

## Path to a biomemap file to use. See the description on Nexusmods.com for the specifications (it will fail if they are not met)
# Setting type: String
# Default value: 
Biomemap File = C:\Users\Vanaheymr\Desktop\Valh\Serv\bc2\BM.png

[05 BetterContinents.Forest]

## Scales forested/cleared area size
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Forest Scale = 0.5

## Adjusts how much forest there is, relative to clearings
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Forest Amount = 0.5

## Trees in all biomes will be affected by forest factor (both procedural and from forestmap)
# Setting type: Boolean
# Default value: false
Forest Factor Overrides All Trees = false

## Path to a forestmap file to use. See the description on Nexusmods.com for the specifications (it will fail if they are not met)
# Setting type: String
# Default value: 
Forestmap File = 

## How strongly to scale the vanilla forest factor by the forestmap
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Forestmap Multiply = 1

## How strongly to add the forestmap directly to the vanilla forest factor
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Forestmap Add = 1

[06 BetterContinents.Spawnmap]

## Legay path to a locationmap file to use. See the description on Nexusmods.com for the specifications (it will fail if they are not met)
# Setting type: String
# Default value: 
Spawnmap File = 

[07 BetterContinents.StartPosition]

## Whether to override the start position using the values provided (warning: will disable all validation of the position)
# Setting type: Boolean
# Default value: false
Override Start Position = false

## Start position override X value, in ranges -10500 to 10500
# Setting type: Single
# Default value: 0
# Acceptable value range: From -10500 to 10500
Start Position X = 0

## Start position override Y value, in ranges -10500 to 10500
# Setting type: Single
# Default value: 0
# Acceptable value range: From -10500 to 10500
Start Position Y = 0

[08 BetterContinents.Debug]

## Automatically reveals the full map on respawn, enables cheat mode, and debug mode, for debugging purposes
# Setting type: Boolean
# Default value: false
Debug Mode = true

## Skips default location placement during world gen (spawn temple and locationmap are still placed), for quickly testing the heightmap itself
# Setting type: Boolean
# Default value: false
Skip Default Location Placement = false

## Upgrade World command to execute when reloading images.
# Setting type: String
# Default value: zones_reset start
Debug Reset Command = 

[09 BetterContinents.Experimental]

# Setting type: Boolean
# Default value: false
Multithreaded Heightmap Build = false

# Setting type: Boolean
# Default value: false
Parallel Chunks Build = false

[10 BetterContinents.Misc]

# Setting type: Int32
# Default value: 446
NexusID = 446

# Setting type: String
# Default value: Vanilla
SelectedPreset = From Config

[11 BetterContinents.Locationmap]

## Path to a locationmap file to use. See the description on Nexusmods.com for the specifications (it will fail if they are not met)
# Setting type: String
# Default value: 
Locationmap File = C:\Users\Vanaheymr\Desktop\Valh\Serv\bc2\SM.png

