## Settings file was created by plugin MultiplayerTweaks v0.9.0
## Plugin GUID: com.orianaventure.mod.MultiplayerTweaks

[Arrival]

## Coordinates for the default player spawn point (x,y,z) no parentheses, leave empty to use game default (comma-separated floats). [Synced with Server]
# Setting type: String
# Default value: 
PlayerDefaultSpawnPoint = -533,1910,1209

## True to enable Valkrie Intro (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
EnableValkrie = false

## True to enable Arrival Message on player login (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
EnableArrivalMessage = false

## False to use a Normal message when EnableArrivalMessage is True (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
UseArrivalShout = true

## Set a new arrival message, leave blank to use default (string). [Synced with Server]
# Setting type: String
# Default value: 
OverrideArrivalMessage = 

[General]

## True to allow admins to bypass some setting restrictions (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
AdminBypass = false

## Override Player pvp behavior (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
OverridePlayerPVP = false

## True to set pvp always on when OverridePlayerPVP is True (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
ForcePlayerPVPOn = false

## False to respawn players at their graves on any death (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
TeleportOnAnyDeath = true

## False to respawn players at their graves on a PVP death (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
TeleportOnPVPDeath = true

## False to prevent skill loss on any death (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
SkillLossOnAnyDeath = true

## False to prevent skill loss on a PVP death (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
SkillLossOnPVPDeath = true

MaximumPlayers = 30

[Map]

## False to hide Starting Temple map pin on Minimap (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
EnableTempleMapPin = true

## False to hide Haldor map pin on Minimap (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
EnableHaldorMapPin = true

## False to hide Hildir map pin on Minimap (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
EnableHildirMapPin = true

## Override Player map pin position behavior for Minimap (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
OverridePlayerMapPositions = true

## True to always show Player position on Minimap when OverridePlayerMapPositions is True (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
ForcePlayerMapPositionOn = false

## False to disable pings on the map from players (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
AllowMapPings = true

## False to disable pings on the map when players shout messages (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
AllowShoutPings = false

