## Settings file was created by plugin Valheim PvP Tweaks v1.0.17
## Plugin GUID: org.tristan.pvptweaks

[Boss power]

## If true then cooldown of boss power will be reset when change active boss power
# Setting type: Boolean
# Default value: false
Reset cooldown = false

## Duration and cooldown of Bonemass power (leave empty to leave vanilla values)
# Setting type: String
# Default value: 300:1200
Bonemass = 300:1200

## Duration and cooldown of Yagluth power (leave empty to leave vanilla values)
# Setting type: String
# Default value: 300:1200
Yagluth = 300:1200

## Duration and cooldown of Eikthyr power (leave empty to leave vanilla values)
# Setting type: String
# Default value: 300:1200
Eikthyr = 300:1200

## Duration and cooldown of Moder power (leave empty to leave vanilla values)
# Setting type: String
# Default value: 300:1200
Moder = 300:1200

## Duration and cooldown of The Elder power (leave empty to leave vanilla values)
# Setting type: String
# Default value: 300:1200
The Elder = 300:1200

## Duration and cooldown of Seeker Queen power (leave empty to leave vanilla values)
# Setting type: String
# Default value: 300:1200
Seeker Queen = 300:1200

[Combat]

## Combat effect duration in seconds
# Setting type: Int32
# Default value: 120
Duration = 120

## Allow teleporation via portals while player in combat
# Setting type: Boolean
# Default value: false
Allow teleportation = false

## Allow equip or unequip clothes, cape and accessories in combat
# Setting type: Boolean
# Default value: true
Allow change equipment = true

[Console]

## Allow to force enable or disable console
# Setting type: ConsoleMode
# Default value: AdminOnly
# Acceptable values: Disabled, AdminOnly, Enabled
Mode = AdminOnly

[Crossbow]

## Damage of crossbow - Damage:Damage per item level. Recommended: 150:5. Leave empty to leave vanilla values
# Setting type: String
# Default value: 
Damage = 

[Death ping]

## Max radius where players will see death of another player. 20k+ - everywhere on map, 0 - nowhere
# Setting type: Int32
# Default value: 20000
Radius = 20000

[Discord (Server only)]

## Discord webhook url to show killfeed
# Setting type: String
# Default value: 
Webhook url = https://discord.com/api/webhooks/1078321336704843856/3C52qxcYGTbU4Xgm6i2ffM23q-BJF3eHFRtwf3nGOTchVDNiKvGBOazrIIG-e13f7np9

## The name on whose behalf the mod will post the killfeed in the discord channel
# Setting type: String
# Default value: KillFeed
Username = Yggdrasil

## Message when player killed by another player or creature
# Setting type: String
# Default value: {player} killed by {attacker}
Killed format = {player} убит {attacker}

## Message when player dead by other reasons (suicide, drowned etc.)
# Setting type: String
# Default value: {player} is dead
Dead format = {player} умер

## Message when player logged out with combat effect
# Setting type: String
# Default value: {player} ran away like a coward!
Disconnected in combat = {player} сбежал из игры во время боя!

[Staffs]

## Damage of Fireball staff - Damage:Damage per item level. Recommended: 80:4. Leave empty to leave vanilla values
# Setting type: String
# Default value: 
Fireball staff damage = 

## Fireball staff Eitr consumption. 35 in vanilla, 40 is recommended, leave 0 to leave vanilla values
# Setting type: Int32
# Default value: 0
Fireball staff eitr = 0

## Damage of Ice staff - Damage:Damage per item level. Recommended: 45:4. Leave empty to leave vanilla values
# Setting type: String
# Default value: 
Ice staff damage = 

## Ice staff Eitr consumption. 5 in vanilla, 5 is recommended, leave 0 to leave vanilla values
# Setting type: Int32
# Default value: 0
Ice staff eitr = 0

## Shield resistance - Min:Max (with skill level 100). Recommended: 150:400. Leave empty to leave vanilla values
# Setting type: String
# Default value: 
Staff shield = 

## Staff shield Eitr consumption. 60 in vanilla, 75 is recommended, leave 0 to leave vanilla values
# Setting type: Int32
# Default value: 0
Staff shield eitr = 0

[Swords secondary attack]

## 3 in vanilla, 2 is recommended, leave 0 to leave vanilla values
# Setting type: Single
# Default value: 0
Damage multiplier = 0

## Sword prefabs which will not be changed. Divided by ','.
# Setting type: String
# Default value: 
Excluded prefabs = 

## Prefabs which will not be changed. Divided by ','.
# Setting type: String
# Default value: 
Included prefabs = 

[Tamed cratures]

## Allow tamed creatures attack players who do something agressive inside the ward they defending
# Setting type: Boolean
# Default value: true
Attack players = false

## Increase health of tamed creatures
# Setting type: Single
# Default value: 1.25
Health multiplier = 1.25

## Increase tamed creatures damage
# Setting type: Single
# Default value: 1
Damage multiplier = 1

[Tweaks]

## Tomb stone boost can be disabled to prevent abuse it to get an advantage in pvp.
# Setting type: Boolean
# Default value: true
Tomb stone boost = true

## Vanilla - loose skills as in vanilla game
## NoLossInPvp - if you die in pvp you dont loose skills
## NoLoss - you dont loose skills on death at all
# Setting type: SkillLossType
# Default value: Vanilla
# Acceptable values: Vanilla, NoLossInPvp, NoLoss
Skills loss = NoLossInPvp

