## Settings file was created by plugin Resurrection v1.0.11
## Plugin GUID: org.bepinex.plugins.resurrection

[1 - General]

## If on, the configuration is locked and can be changed by server admins only.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## Percentage of health after being resurrected.
# Setting type: Int32
# Default value: 25
# Acceptable value range: From 1 to 100
Respawn Health = 50

## Items required to resurrect someone.
# Setting type: String
# Default value: SurtlingCore:1
Resurrection Cost = CoinQuests:5

## Time in seconds required to resurrect someone.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 10
Resurrection Time = 5

## If on, only other group members may resurrect a player. Requires the group mod to have any effect.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Group Resurrection = Off

