## Settings file was created by plugin yggassets2 v0.0.4
## Plugin GUID: Yggdrasil.yggassets2

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

